*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
h1 {
    color: #27aedb;
    text-align: center;
    font-size: 30px;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
 svg{
   width: 30px;
   height: 30px;
} 

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;   
}